<div id="checkout-partials-container" class="" >
  <div class="p-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
      <h1 class="fw-bold mb-0 text-black">Your Order Number: 01</h1>
      <h6 class="mb-0 text-muted">3 items</h6>
    </div>
    <hr class="my-4">

    <!--Order Items Container-->
  <div id="customer-order-container">
    <div class="row mb-4 d-flex justify-content-between align-items-center">
      <div class="col-md-2 col-lg-2 col-xl-2">
        <img
          src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
          class="img-fluid rounded-3" alt="Food Item">
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <h6 class="text-muted">Food Type</h6>
        <h6 class="text-black mb-0">Food Item</h6>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
      <div>1</div>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
        <h6 class="mb-0">$30.00</h6>
      </div>
      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
      </div>
    </div>

    <hr class="my-4">

    <div class="row mb-4 d-flex justify-content-between align-items-center">
      <div class="col-md-2 col-lg-2 col-xl-2">
        <img
          src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
          class="img-fluid rounded-3" alt="Food Item">
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <h6 class="text-muted">Food Type</h6>
        <h6 class="text-black mb-0">Food Item</h6>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
      <div>2</div>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
        <h6 class="mb-0">$30.00</h6>
      </div>
      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
      </div>
    </div>

    <hr class="my-4">

    <div class="row mb-4 d-flex justify-content-between align-items-center">
      <div class="col-md-2 col-lg-2 col-xl-2">
        <img
          src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
          class="img-fluid rounded-3" alt="Food Item">
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <h6 class="text-muted">Food Type</h6>
        <h6 class="text-black mb-0">Food Item</h6>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
        <div>3</div>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
        <h6 class="mb-0">$30.00</h6>
      </div>
      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
      </div>
    </div>

    <hr class="my-4">
  </div>


  <div class="d-flex">
    <div class="p-2 w-100 bd-highlight"></div>
    <div class="p-2 flex-shrink-1">Subtotal: </div>
    <div id="order-grand-total" class="display-6">$20</div>
  </div>
  <!--Place Order Button-->
  <div id="checkout-area-selector" class="d-flex flex-row-reverse" style="margin-top: 2rem;">
    <button id="checkout-button" type="button" style="" class="btn btn-success btn-lg">Place Order</button>
  </div>

  <!--Back to Menu Link-->
    <div class="pt-5">
      <h6 class="mb-0"><a href="/customer_menus" class="text-body"><i
            class="fas fa-long-arrow-alt-left me-2"></i>Back to Menu</a></h6>
    </div>
  </div>
</div>
