<header class="nav-fixed-top">

  <!--Container-->
  <nav class="container d-flex">

    <div class="container">
      <div class="logo">
        <h1>Micro<span><b>wave</b></span></h1>
        <!--User-->
        <i data-feather="user-check">User</i>
        <span><b>lorem</b></span>
      </div>
    </div>




    <!--Current Details-->
    <div class="currentDetails" style="justify-content: flex-end;">
      <div class="header-option">
        <!-- Current Basket-->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"> <i data-feather="shopping-cart">basket</i>
          <span>basket</span></button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <div>
              <h5 class="offcanvas-title" id="offcanvasRightLabel">CURRENT BASKET</h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <!--Basket List-->
          <div id="basket-container" class="flex-shrink-6 overflow-auto">

            <!--Basket Item 1-->
            <div class="row mb-4 d-flex justify-content-around align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                  class="img-fluid rounded-3" alt="Food Item">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Food Type</h6>
                <h6 class="text-black mb-0">Food Item</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <span>1</span>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$30.00</h6>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
              </div>
            </div>
            <hr class="my-4">

            <!--Basket Item 2-->
            <div class="row mb-4 d-flex justify-content-around align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                  class="img-fluid rounded-3" alt="Food Item">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Food Type</h6>
                <h6 class="text-black mb-0">Food Item</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <span>2</span>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$30.00</h6>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
              </div>
            </div>
            <hr class="my-4">

            <!--Basket Item 3-->
            <div class="row mb-4 d-flex justify-content-around align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                  class="img-fluid rounded-3" alt="Food Item">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Food Type</h6>
                <h6 class="text-black mb-0">Food Item</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <span>3</span>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$30.00</h6>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
              </div>
            </div>
            <hr class="my-4">
          </div>
          <!--Total-->
          <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
            <h5 class="fw-bold mb-0">Total:</h5>
            <h5 id="subtotal-amount" class="fw-bold mb-0">$100</h5>
          </div>
          <!--Check out-->
          <a href="/customer_orders" role="button" class="btn btn-primary">Checkout</a>
        </div>
      </div>

    </div>
    <!-- Basket List End-->


  </nav>
</header>
