<header class="nav-fixed-top">

  <!--Container-->

  <div class="container">
    <div class="logo">
      <h1>Micro<span><b>wave</b></span></h1>
      <i data-feather="user-check">User</i>
      <span><b>lorem</b></span>
    </div>
    <!--User-->


    <!--Current Details-->
    <div class="currentDetails">
      <div class="header-option">
        <button type="button" type="button" class="btn btn-outline-primary">
          <i data-feather="home">Home</i>
          <span>Home</span>
        </button>
      </div>
      <div class="header-option">
        <!-- Current Basket-->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"> <i data-feather="shopping-cart">basket</i>
          <span>basket</span></button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <div>
              <h5 class="offcanvas-title" id="offcanvasRightLabel">CURRENT BASKET</h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <!--Basket List-->
          <div class="flex-shrink-6">

            <!--Basket Item 1-->
            <div class="row mb-4 d-flex justify-content-around align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                  class="img-fluid rounded-3" alt="Food Item">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Food Type</h6>
                <h6 class="text-black mb-0">Food Item</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <span>1</span>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$30.00</h6>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
              </div>
            </div>
            <hr class="my-4">

            <!--Basket Item 2-->
            <div class="row mb-4 d-flex justify-content-around align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                  class="img-fluid rounded-3" alt="Food Item">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Food Type</h6>
                <h6 class="text-black mb-0">Food Item</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <span>2</span>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$30.00</h6>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
              </div>
            </div>
            <hr class="my-4">

            <!--Basket Item 3-->
            <div class="row mb-4 d-flex justify-content-around align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                  class="img-fluid rounded-3" alt="Food Item">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Food Type</h6>
                <h6 class="text-black mb-0">Food Item</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <span>3</span>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$30.00</h6>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
              </div>
            </div>
            <hr class="my-4">


            <!--Check out-->
           <div class="d-flex justify-content-center">
            <button id="customerCheckout" type="button" class="btn btn-primary">Checkout</button>
           </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Basket List End-->
    <div class="offcanvas-body">

    </div>
  </div>
  </div>
  </div>
  </div>

</header>
