<header>

  <!--Container-->
      <div class="container">
        <div class="logo">
          <h1>Eat<span>Now</span></h1>
        </div>
  <!--Current Details-->
        <div class="currentDetails">
          <div class="header-option">
            <button type="button" type="button" class="btn btn-outline-primary">
              <i data-feather="home">Home</i>
              <span>Home</span>
            </button>
          </div>
          <div class="header-option">
            <button type="button" type="button" class="btn btn-outline-primary">
              <i data-feather="book-open">Menu</i>
              <span>Menu</span>
            </button>
          </div>
          <div class="header-option">
              <button type="button" type="button" class="btn btn-outline-primary">
                <i data-feather="shopping-cart">basket</i>
                <span>basket</span>
              </button>
          </div>
        </div>

  <!--Search Bar-->
          <div class="header-option">
            <i data-feather="user-check">User</i>
            <span><b>lorem</b></span>
          </div>
      </div>
    </header>
