<header class="nav-fixed-top">

  <!--Container-->

  <div class="container">
    <div class="logo">
      <h1>Micro<span><b>wave</b></span></h1>
      <i data-feather="user-check">User</i>
      <span><b>lorem</b></span>
    </div>
    <!--User-->


    <!--Current Details-->
    <div class="currentDetails">
      <div class="header-option">
        <button type="button" type="button" class="btn btn-outline-primary">
          <i data-feather="bell">Home</i>
          <span>Customer Order</span>
        </button>
      </div>
      <div class="header-option">
        <!--Add Items Button-->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"> <i data-feather="briefcase">basket</i>
          <span>Add Items</span></button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header" style="margin-bottom: 5rem;">
            <!-- <h5 class="offcanvas-title" id="offcanvasRightLabel">Item N</h5> -->
            <h2>Item Number <span class =" label label-default">01</span></h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <!--Add Item N-->
          <div class="d-flex justify-content-center">
          <form id="newItemForm">
            <div class="form-group">
              <label>Item Name</label>
              <input name="newItemName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <label>Image URL</label>
              <input name="newUrl" type="text" class="form-control" id="exampleInputPassword1" placeholder="url">
            </div>

            <div class="form-group">
              <label>Description</label>
              <input name="newDescription" type="text" class="form-control" id="exampleInputPassword1" placeholder="description">
            </div>
            <div class="form-group">
              <label>Price: $</label>
              <input name="newPrice" type="number" class="form-control" id="exampleInputPassword1" placeholder="price">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Stock Quantity</label>
              <input name="newQuantity" type="number" class="form-control" id="exampleInputPassword1" placeholder="stock">
            </div>

            <button type="submit" class="btn btn-primary" id="newItem">Submit</button>
          </form>
          </div>
          <!--Add Item N End-->
          <div class="offcanvas-body">
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
