<header class="nav-fixed-top">

  <!--Container-->

  <div class="container">
    <div id="flex-box1">
      <div class="logo">
        <a href="/login">
          <h1>Micro<span><b>wave</b></span></h1>
        </a>
        <h6>Hey <span><b>Guy Favreau</b></span></h6>
      </div>
    </div>
    <!--User-->


    <!--Current Details-->
    <div id="flex-box2">
      <div class="header-option">
        <!--Add Items Button-->
        <a href="/restaurant_menus">
          <button type="button">
            <span>menu</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- data-feather="user-check" from i tag in line 8 -->
