<header class="nav-fixed-top">

  <!--Container-->

  <div class="container">
    <div class="logo">
      <h1>Micro<span><b>wave</b></span></h1>
      <i data-feather="user-check">User</i>
      <span><b>lorem</b></span>
    </div>
    <!--User-->


    <!--Current Details-->
    <div class="currentDetails">
      <div class="header-option">
        <!-- Home-->
        <a href="/restaurant_menus" class="btn btn-primary">
         <i data-feather="menu"></i>
         <span>Menu</span>
        </a>
        </div>
      </div>
    </div>
    <!-- Basket List End-->
    <div class="offcanvas-body">

    </div>
  </div>
  </div>
  </div>
  </div>

</header>
