<div>
  <button id="bakery" class="btn btn-primary button-radius">bakery</button>
  <button id="beverage" class="btn btn-primary button-radius">beverage</button>
  <button id="produce" class="btn btn-primary button-radius">produce</button>
  <button id="deli" class="btn btn-primary button-radius">deli</button>
  <button id="processed" class="btn btn-primary button-radius">processed</button>
  <button id="meat" class="btn btn-primary button-radius">meat</button>
  <button id="seafood" class="btn btn-primary button-radius">seafood</button>
  <button id="dairy" class="btn btn-primary button-radius">dairy</button>
  <button id="other" class="btn btn-primary button-radius">other</button>
</div>
