<div>
  <button id="bakery" data-category="1" class="category-filter btn btn-primary button-radius">bakery</button>
  <button id="beverage" data-category="2" class="category-filter btn btn-primary button-radius">beverage</button>
  <button id="produce" data-category="3" class="category-filter btn btn-primary button-radius">produce</button>
  <button id="deli" data-category="4" class="category-filter btn btn-primary button-radius">deli</button>
  <button id="processed" data-category="5" class="category-filter btn btn-primary button-radius">processed</button>
  <button id="meat" data-category="6" class="category-filter btn btn-primary button-radius">meat</button>
  <button id="seafood" data-category="7" class="category-filter btn btn-primary button-radius">seafood</button>
  <button id="dairy" data-category="8" class="category-filter btn btn-primary button-radius">dairy</button>
  <button id="other" data-category="9" class="category-filter btn btn-primary button-radius">other</button>
</div>
