<div style="display: flex; justify-content: space-between;">
  <button id="bakery" data-category="" class="category-filter">All</button>
  <button id="bakery" data-category="1" class="category-filter ">bakery</button>
  <button id="beverage" data-category="2" class="category-filter ">beverage</button>
  <button id="produce" data-category="3" class="category-filter ">produce</button>
  <button id="deli" data-category="4" class="category-filter "> deli  </button>
  <button id="processed" data-category="5" class="category-filter ">processed</button>
  <button id="meat" data-category="6" class="category-filter ">meat</button>
  <button id="seafood" data-category="7" class="category-filter ">seafood</button>
  <button id="dairy" data-category="8" class="category-filter ">dairy</button>
  <button id="other" data-category="9" class="category-filter ">other</button>
</div>
