<div>
  <button id="bakery" class="btn btn-primary">bakery</button>
  <button id="beverage" class="btn btn-primary">beverage</button>
  <button id="produce" class="btn btn-primary">produce</button>
  <button id="deli" class="btn btn-primary">deli</button>
  <button id="processed" class="btn btn-primary">processed</button>
  <button id="meat" class="btn btn-primary">meat</button>
  <button id="seafood" class="btn btn-primary">seafood</button>
  <button id="dairy" class="btn btn-primary">dairy</button>
  <button id="other" class="btn btn-primary">other</button>
</div>
