<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

  <!--feathericons-->
  <script src="https://unpkg.com/feather-icons"></script>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/customer-orders.js"></script>
</head>

<body>
  <!--Header-->
  <%- include('partials/_header_c_order') %>
    <div>
      <section class=" h-110 h-custom" style="height:1200px;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">

                    <div class="col-lg-8" style="width: 1000px;">
                      <!--Part 1-->
                      <div class="p-5">
                        <div class="d-flex justify-content-between align-items-center mb-5">
                          <h1 class="fw-bold mb-0 text-black">Your Order Number: 01</h1>
                          <h6 class="mb-0 text-muted">3 items</h6>
                        </div>
                        <hr class="my-4">

                        <!--Order Items Container-->
                      <div id="customer-order-container">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img
                              src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                              class="img-fluid rounded-3" alt="Food Item">
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">Food Type</h6>
                            <h6 class="text-black mb-0">Food Item</h6>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                           <div>1</div>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">$30.00</h6>
                          </div>
                          <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                          </div>
                        </div>

                        <hr class="my-4">

                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img
                              src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                              class="img-fluid rounded-3" alt="Food Item">
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">Food Type</h6>
                            <h6 class="text-black mb-0">Food Item</h6>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                           <div>2</div>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">$30.00</h6>
                          </div>
                          <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                          </div>
                        </div>

                        <hr class="my-4">

                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img
                              src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=722&q=80"
                              class="img-fluid rounded-3" alt="Food Item">
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">Food Type</h6>
                            <h6 class="text-black mb-0">Food Item</h6>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <div>3</div>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">$30.00</h6>
                          </div>
                          <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                          </div>
                        </div>

                        <hr class="my-4">
                      </div>


                      <div class="d-flex">
                        <div class="p-2 w-100 bd-highlight"></div>
                        <div class="p-2 flex-shrink-1">Subtotal: </div>
                        <div id="order-grand-total" class="display-6">$20</div>
                      </div>
                      <!--Place Order Button-->
                      <div id="checkout-area-selector" class="d-flex flex-row-reverse" style="margin-top: 2rem;">
                        <button id="checkout-button" type="button" class="btn btn-success btn-lg">Place Order</button>
                      </div>

                      <!--Back to Menu Link-->
                        <div class="pt-5">
                          <h6 class="mb-0"><a href="/customer_menus" class="text-body"><i
                                class="fas fa-long-arrow-alt-left me-2"></i>Back to Menu</a></h6>
                        </div>
                      </div>
                    <!--Part 1 End-->


                    <!--Part 2-->
                    <div class="col-lg-10 bg-grey">
                      <div class="p-5">
                        <h3 class="fw-bold mb-5 mt-2 pt-1">Order Status</h3>
                        <!--Estimated Time Input-->
                        <div class="row g-3 align-items-center mb-4">
                          <div class="row g-3 align-items-center"; style="width: 1000px;">
                            <div class="col-auto">
                              <label for="estimated-time" class="col-form-label">Estimated Time: </label>
                            </div>
                            <div class="col-auto">
                              <!--Insert time-->
                              <span>20</span><span> Min</span>
                            </div>
                          </div>
                        </div>
                        <!--Divider Line-->
                        <hr class="my-4">

                           <!--Order Processing-->
                           <div class="d-flex justify-content-center mb-4">
                            <div class="row g-3 align-items-center" style="width: 80%;">
                              <h4>Order Processing...</h4>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                  style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                          <!--Divider Line-->
                          <hr class="my-4">

                          <!--Order Ready-->
                          <div class="d-flex justify-content-center mb-4">
                            <div class="row g-3 align-items-center" style="width: 80%;">
                              <div>
                                <h4>Order Ready!</h4>
                              </div>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                          <!--Divider Line-->
                          <hr class="my-4">

                          <!--Order Ready-->
                          <div class="d-flex justify-content-center mb-4">
                            <div class="row g-3 align-items-center">
                              <div class="col-auto">
                                <h4 class="text-danger"><b>Order Cancelled, Sorry!</b></h4>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <!--Part 2 End-->
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</body>
<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--feather icons-->
<script>
  feather.replace()
</script>

</html>
