<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!--feathericons-->
  <script src="https://unpkg.com/feather-icons"></script>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/login.js"></script>
</head>

<body>
    <!--Header-->
    <header>
      <div class="container-fluid bg-light p-5">
        <div class="logo display-6" style="text-align: center;">
          <h1>Micro<span><b>wave</b></span></h1>
        </div>
        <hr class="my-4">
        <div style="display: flex; justify-content: space-evenly;">
        <a class="btn btn-primary btn-lg" role="button" id="customer_login">Customer Login</a>
        <a class="btn btn-primary btn-lg" role="button" id="restaurant_login">Restaurant Login</a>
        </div>
      </div>
    </header>

</body>
<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--feather icons-->
<script>
  feather.replace()
</script>
</html>
