// See: https://sass-lang.com/

// body,
// html {
//   margin: 0;
// }
:root {
  --color-green: #06c167;
  --color-black: rgb(58, 65, 69);
  --color-white: rgb(250, 241, 219);
  --color-light-green: rgb(95, 191, 112);
  --color-pink: rgb(241, 151, 113);
  --color-yellow: rgb(244, 208, 129);
  --color-purple: rgb(146, 128, 200);
  --main-font: 'Poppins', sans-serif;
  --display-font: 'Bebas Neue', cursive;
  --extra-font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin-bottom: 150px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-white);
}
.container {
  width: calc(100% - 120px);
  margin: auto;
}

// var(--color-white)
