// See: https://sass-lang.com/

// body,
// html {
//   margin: 0;
// }
:root {
  --color-green: #06c167;
}

* {
  box-sizing: border-box;
}

body {
  margin-bottom: 150px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: #ffffcc;
  .button-radius {
    border-radius: 1.8rem;
  }
}
.container {
  width: calc(100% - 120px);
  margin: auto;
}

